@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
    max-width:64rem;
    margin-top: 3.75rem;
    margin-bottom: 6rem;
}

.supportersContainer {
    width:96rem;
    margin-top: 3.75rem;
    margin-bottom: 6rem;
}

.characterLimit {
    max-width: 75ch;
}

h1 {
    font-family: "GeistMono", monospace;
    font-size: 6rem;
    line-height: 1;
    font-weight: 800; 
}

h2 {
    font-family: "Geist", sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h3 {
    font-family: "GeistMono", monospace;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}

p {
    font-weight: 300;
}

.imgDropShadow {
    filter: drop-shadow(0px 0px 160px rgba(22, 163, 74, .5));
}

.hoverDropShadow:hover {
    filter: drop-shadow(0px 0px 15px rgba(22, 163, 74, 0.30));
}